.navbar {
  display: flex;
  background: #181C14;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between; 
  font-size: 20px;
  box-shadow: 0px 4px 6px rgba(252, 252, 252, 0.1);
  position: fixed;
  }

  .icon{
    color: white;
    display: flex;
    gap: 25px;
  }

.icons{
  transition: color 0.3s ease;
}

.icons:hover {
  color: #007bff;
}

.icons span {
  cursor: pointer;
  font-size: 24px;
}

.searchContainer {
  position: relative;
  width: 200px;
}

.searchInput {
  width: 100%;
  padding: 1px 12px 1px 35px; /* Padding kiri ditambah untuk memberi ruang bagi ikon */
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.searchIcon {
  position: absolute;
  left: 10px; /* Posisi ikon di dalam input */
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

/* Center Icons */
.centerIcons {
  display: flex;
  gap: 35px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.navIcon {
    position: relative;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.navIcon:hover {
    color: #007bff;
}

.activeIndicator {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}